<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增定时任务</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{/js/element-ui/lib/theme-chalk/index.css}">
    <!-- 引入组件库 -->
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/element-ui/lib/index.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>

</head>
<body>

<div id="app" style="margin: 30px">
    <el-form  :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
        <el-form-item label="bean名称" prop="beanName">
            <el-input v-model="dataForm.beanName" placeholder="spring bean名称, 如: testTask"></el-input>
        </el-form-item>
        <el-form-item label="参数" prop="params">
            <el-input v-model="dataForm.params" placeholder="参数"></el-input>
        </el-form-item>
        <el-form-item label="cron表达式" prop="cronExpression">
            <el-input v-model="dataForm.cronExpression" placeholder="如: 0 0 12 * * ?"></el-input>
        </el-form-item>
        <el-form-item label="备注" prop="remark">
            <el-input v-model="dataForm.remark" placeholder="备注"></el-input>
        </el-form-item>


        <el-form-item>
            <el-button type="primary" @click="dataFormSubmit">提交</el-button>
            <el-button @click="cancelFormSubmit">取消</el-button>
        </el-form-item>

    </el-form>


</div>
</body>

<script th:inline="javascript">


    var vm = new Vue({
        el: '#app',
        data: function() {
            return {
                loading:false,
                dataForm: {
                    jobId: 0 ,
                    beanName: '',
                    params: '',
                    cronExpression: '',
                    remark: '',
                    status: 0
                },
                dataRule: {
                    beanName: [
                        { required: true, message: '用户名不能为空', trigger: 'blur' }
                    ],
                    cronExpression: [
                        { required: true, message: 'cron表达式不能为空', trigger: 'blur' }
                    ]
                }
            }
        },
        create:function(){


        },

        mounted: function () {
            if([[${id}]] != 0){

                this.init([[${id}]])
            }
        },

        methods:  {

            // 初始化表单数据
            init(id){
                var _this = this;
                axios({
                    method: 'get',
                    url: 'schedulejob/schedule/getScheduleJobById/'+id
                }).then(function (response) {
                    if (response.data.code === 0) {
                        _this.dataForm.jobId = response.data.scheduleJob.jobId
                        _this.dataForm.beanName = response.data.scheduleJob.beanName
                        _this.dataForm.params = response.data.scheduleJob.params
                        _this.dataForm.cronExpression = response.data.scheduleJob.cronExpression
                        _this.dataForm.remark = response.data.scheduleJob.remark
                        _this.dataForm.status = response.data.scheduleJob.status
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            // 提交表单
            dataFormSubmit(){
                this.$refs['dataForm'].validate((valid) => {
                    var s = !this.dataForm.jobId ? 'save' : 'update';
                    if (valid) {
                        var _this = this;
                        // parent.vm.closeDialog();
                        axios({
                            method: 'post',
                            url: 'schedulejob/schedule/'+s+'',
                            data: {
                                'jobId': this.dataForm.jobId || undefined,
                                'beanName': this.dataForm.beanName,
                                'params': this.dataForm.params,
                                'cronExpression': this.dataForm.cronExpression,
                                'remark': this.dataForm.remark,
                                'status': !this.dataForm.jobId ? undefined : this.dataForm.status
                            }
                        }).then(function (response) {
                            if(response.data.code != 0){
                                parent.vm.openMessage("error", response.data.message);
                            }else{
                                parent.vm.openMessage("success", response.data.message);
                                parent.vm.closeDialog();
                                parent.vm.getDataList();
                            }
                        }).catch(function (error) {
                                console.log(error);
                            });
                    }
                })
            },

            // 关闭表单
            cancelFormSubmit(){
                parent.vm.closeDialog();
            }
        }
    });
</script>

</html>